<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ss.css')}}">
    </head>
    <body>
        {% include "header.html" %}
        <div class="container">
            <div class="part">
                <h2>Categories</h2>
                {% for i in categories %}
                    <a href="{{url_for('showCategoryItem', categoryName=i.name)}}"><p>{{i.name}}</p></a>
                {% endfor %}
            </div>
            <div class="part">
                <h2>Latest Items</h2>
                {% for e in items %}
                    <a href="{{url_for('showItemDescription', categoryName=e.category, itemName=e.name)}}"><p><p>{{e.name}}<span>({{e.category}})</span></p></a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>